In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# import csv files
df = pd.read_csv('athlete_events.csv')
region_df = pd.read_csv('noc_regions.csv')

In [ ]:
df.head(2)

In [ ]:
region_df.head(2)

In [ ]:
df.shape

In [ ]:
df = df[df['Season']=='Summer']
df.shape

In [ ]:
df.tail()

In [ ]:
# Find the country name 
df = df.merge(region_df, on='NOC', how='left')

In [ ]:
df.head(5)

In [ ]:
df['region'].unique().shape # It displays the number of countries that participated

In [ ]:
# Check Missing value and duplicate value
df.isnull().sum()

In [ ]:
# check duplicate rows
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

In [ ]:
# Count the occurrences of each medal type (Gold, Silver, Bronze) in the dataset
df['Medal'].value_counts()

In [ ]:
# Make separate column for gold, bronze, and silver
pd.get_dummies(df['Medal'], dtype=int)

In [ ]:
# Concate above df with original df
df = pd.concat([df,pd.get_dummies(df['Medal'], dtype=int)],axis=1)
df.shape

In [ ]:
# df.tail()

In [ ]:
# Group the dataset by 'region' (country), summing up the total count of Gold, Silver, and Bronze medals.  
# Then, sort the results in descending order based on the number of Gold medals.  
# Finally, reset the index for a clean output.  
df.groupby('region', as_index=False)[['Gold', 'Silver', 'Bronze']] \
  .sum() \
  .sort_values('Gold', ascending=False) \
  .reset_index(drop=True)

In [ ]:
# remove duplicate rows on the basis of teams, noc, games, year, season, city
medal_tally = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [ ]:
print(medal_tally.columns)

In [ ]:
medal_tally = medal_tally.groupby('region', as_index=False)[['Gold', 'Silver', 'Bronze']].sum().sort_values('Gold', ascending=False).reset_index(drop=True)
# medal_tally = medal_tally.sort_values('Gold', ascending=False).reset_index(drop=True) # as_index=False ensures 'region' remains a column.

In [ ]:
medal_tally

In [ ]:
medal_tally['total'] = medal_tally['Gold'] + medal_tally['Silver'] + medal_tally['Bronze']

In [ ]:
medal_tally

In [ ]:
# Extract unique years from the 'Year' column and convert them into a list.  
years = df['Year'].unique().tolist()  

# Sort the years in ascending order for better organization.  
years.sort()  

# Insert 'Overall' at the beginning of the list to allow an option for selecting all years.  
years.insert(0, 'Overall')  

# The final 'years' list contains all unique years in sorted order, with 'Overall' as the first option.  
years

In [ ]:
# Extract unique country names from the 'region' column, ignoring NaN values.&
# Convert the unique values into a list for easy access and processing.  
country = np.unique(df['region'].dropna().values).tolist()  

# Sort the country names in alphabetical order for better organization.  
country.sort()  

# Insert 'Overall' at the beginning of the list to allow an option for selecting all countries.  
country.insert(0, 'Overall')  

# The final 'country' list contains all unique country names in sorted order, with 'Overall' as the first option.  
country

In [ ]:
# Function that fetches medals (Gold, Silver, and Bronze) based on the year and country.

def fetch_medal_tally(df, year, country):
    """
    Fetches the medal tally based on the given year and country.

    Parameters:
    df (pd.DataFrame): DataFrame containing Olympic medal data.
    year (str/int): Year of the Olympics or 'Overall' for all years.
    country (str): Country name or 'Overall' for all countries.

    Returns:
    pd.DataFrame: A DataFrame containing the medal tally.
    """
    
    # Remove duplicate medal records
    medal_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

    # Filtering based on year and country
    if year == 'Overall' and country == 'Overall':
        temp_df = medal_df
    elif year == 'Overall':
        temp_df = medal_df[medal_df['region'] == country]
        group_by_year = True
    elif country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == year]
        group_by_year = False
    else:
        temp_df = medal_df[(medal_df['Year'] == year) & (medal_df['region'] == country)]
        group_by_year = False

    # Aggregate medal counts
    group_column = 'Year' if group_by_year else 'region'
    medal_tally = (
        temp_df.groupby(group_column, as_index=False)[['Gold', 'Silver', 'Bronze']]
        .sum()
        .sort_values('Gold', ascending=False)
        .reset_index(drop=True)
    )

    # Add total medal count
    medal_tally['Total'] = medal_tally['Gold'] + medal_tally['Silver'] + medal_tally['Bronze']

    return medal_tally

In [ ]:
fetch_medal_tally(df, year=2016, country='USA') # Call the 'fetch_medal_tally()' funciton

In [ ]:
 # Remove duplicate medal records
medal_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [ ]:
# Filter the dataset to include only records from the 2016 Olympics where the country is India
medal_df[(medal_df['Year'] == 2016) & (medal_df['region'] == 'India')]

## Overall Analysis
1. No of editions
2. No of cities
3. No of events/sports
4. No of athletes
5. participating nations

In [ ]:
df.head(2)

In [ ]:
# how many Years of olympics
df['Year'].unique()
df['Year'].unique().shape

In [ ]:
df['Year'].unique().shape[0]-1

In [ ]:
df['City'].unique()

In [ ]:
df['Sport'].unique()

In [ ]:
# Returns the total count of unique sports present in the dataset.  
df['Sport'].unique().shape

In [ ]:
# Returns the total count of unique Events present in the dataset.
df['Event'].unique().shape # A total of 651 events were held in the Olympics up to 2016.

In [ ]:
# Returns the total count of unique Athletes present in the dataset.  
df['Name'].unique().shape

In [ ]:
# Returns the total number of unique countries or regions represented in the dataset.  
df['region'].unique().shape

### plot some graphs

In [ ]:
# Participating Nations over the time
df.head(3)

In [ ]:
# duplicate all rows
nation_over_time = df.drop_duplicates(['Year', 'region'])['Year'].value_counts().reset_index().sort_values('Year')
nation_over_time.head(5)

In [ ]:
nation_over_time.rename(columns={'Year': 'Edition', 'count':'No of countries'}, inplace=True)

In [ ]:
nation_over_time.head(5)

In [ ]:
# !pip install plotly

In [ ]:
import plotly.express as px

In [ ]:
# Create a line chart to visualize the number of participating countries over different Olympic editions.  
# 'Edition' is plotted on the x-axis, and 'No of countries' is plotted on the y-axis.  
fig = px.line(nation_over_time, x="Edition", y="No of countries")  

# Display the line chart.  
fig.show()

In 1980, the number of participating countries in the Olympics decreased significantly due to the Moscow Olympics boycott.

What Happened in 1980?
The United States led a boycott of the 1980 Summer Olympics in Moscow, USSR, in protest against the Soviet Union\'s invasion of Afghanistan in 1979.

Around 65 nations, including West Germany, Canada, Japan, China, and many others, joined the boycott and did not participate.

As a result, the number of participating countries dropped from 92 in 1976 (Montreal Olympics) to 80 in 1980 (Moscow Olympics).

This was one of the largest boycotts in Olympic history.

In [ ]:
events_over_time = df.drop_duplicates(['Year', 'Event'])['Year'].value_counts().reset_index().sort_values('Year')
events_over_time.head(5)

In [ ]:
# plot heatmap that over the year har sports mei kitne event hue 
x = df.drop_duplicates(['Year', 'Sport', 'Event'])

In [ ]:
# Create a pivot table to analyze the number of events held for each sport across different years.  
# - 'Sport' is set as the index to group data by sport.  
# - 'Year' is used as columns to display data across different Olympic years.  
# - 'Event' values are counted to determine the number of events per sport per year.  
# - Missing values (NaN) are filled with 0, as some sports may not have events in certain years.  
# - Convert the final counts to integers for better readability.  
x.pivot_table(index='Sport', columns='Year', values='Event', aggfunc='count') \
 .fillna(0).astype('int')

In [ ]:
# Create a heatmap to visualize the number of events held for each sport across different Olympic years.  
plt.figure(figsize=(25, 25))  # Set the figure size for better readability.  

sns.heatmap(
    x.pivot_table(index='Sport', columns='Year', values='Event', aggfunc='count')  
    .fillna(0).astype(int),  # Fill missing values with 0 and convert to integers for clarity.  
    annot=True,  # Display the actual count values in each cell.  
    fmt="d",  # Format the annotations as integers.  
    # cmap="Blues"  # Optional: Apply a color map for better visualization.  
)

plt.show()  # Display the heatmap.

In [ ]:
df.head(2)

In [ ]:
def most_successful(df, sport):
    """
    Returns the top 10 most successful athletes based on the total number of medals won.
    
    Parameters:
    df (DataFrame): The Olympics dataset.
    sport (str): The sport to filter by ('Overall' for all sports).
    
    Returns:
    DataFrame: A DataFrame containing the top 10 athletes with their medal count, sport, and region.
    """
    
    # Filter out rows where 'Medal' is NaN (only include medal-winning athletes)
    temp_df = df.dropna(subset=['Medal'])

    # If a specific sport is selected, filter the data
    if sport != 'Overall':
        temp_df = temp_df[temp_df['Sport'] == sport]

    # Count medals for each athlete and create a DataFrame
    result_df = temp_df['Name'].value_counts().reset_index()
    result_df.columns = ['Name', 'Total No of Medals']

    # Extract unique athlete information (Name, Sport, Region)
    athlete_info = df[['Name', 'Sport', 'region']].drop_duplicates(subset=['Name'])

    # Merge athlete information with medal counts
    merged_df = result_df.merge(athlete_info, on='Name', how='left')

    # Return the top 10 athletes
    return merged_df[['Name', 'Total No of Medals', 'Sport', 'region']].head(10)

# Call function to get the top 10 most successful athletes
top_athletes = most_successful(df, 'Overall')
top_athletes

## Countrywise Analysis
1. Countrywise medal tally per year(line plot)
2. Show the Countries Dominating Various Sports via heatmap
3. Most successful Athletes(Top 10)

In [ ]:
df.head(5)

## Country-wise Medal Tally Per Year (Line Plot)

In [ ]:
# Create a separate copy of the DataFrame to avoid modifying the original df
temp_df = df.dropna(subset=['Medal']).copy()

# Drop duplicates to keep only unique medal-winning entries
temp_df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

In [ ]:
# Filter the dataset to include only data for the USA.  
new_df = temp_df[temp_df['region'] == 'USA']  

# Group by 'Year' and count the number of medals won by the USA each year.  
final_df = new_df.groupby('Year').count()['Medal'].reset_index()  

# Create a line chart to visualize the trend of medals won by the USA over the years.  
fig = px.line(final_df, x="Year", y="Medal")  

# Display the line chart.  
fig.show()

## Show the Countries Dominating Various Sports via heatmap

In [ ]:
# Filter the dataset to include only data for the UK  
new_df = temp_df[temp_df['region'] == 'UK']  

# Create a pivot table to show the number of medals won per sport for each year  
medal_heatmap = new_df.pivot_table(index='Sport', columns='Year', values='Medal', aggfunc='count').fillna(0)  

# Display the pivot table  
medal_heatmap

In [ ]:
plt.figure(figsize=(25, 25))
sns.heatmap(
    new_df.pivot_table(index='Sport', columns='Year', values='Medal', aggfunc='count')
    .fillna(0).astype(int),
    annot=True,
    fmt="d",
    # cmap="Blues"  # Optional: Color enhancement
)

In [ ]:
def most_successful(df, country):
    """
    Returns the top 10 most successful athletes from a given country based on the total number of medals won.
    
    Parameters:
    df (DataFrame): The Olympics dataset.
    country (str): The country to filter by.
    
    Returns:
    DataFrame: A DataFrame containing the top 10 athletes with their medal count and sport.
    """

    # Filter out rows where 'Medal' is NaN (only include medal-winning athletes)
    temp_df = df.dropna(subset=['Medal'])

    # Filter data for the selected country
    temp_df = temp_df[temp_df['region'] == country]

    # Count medals for each athlete
    result_df = temp_df['Name'].value_counts().reset_index()
    result_df.columns = ['Name', 'Total No of Medals']

    # Extract unique athlete information (Name, Sport, Region)
    athlete_info = df[['Name', 'Sport', 'region']].drop_duplicates(subset=['Name'])

    # Merge athlete information with medal counts
    merged_df = result_df.merge(athlete_info, on='Name', how='left')

    # Return the top 10 athletes
    return merged_df[['Name', 'Total No of Medals', 'Sport']].head(10)

# Call function to get the top 10 most successful athletes from the USA
top_athletes = most_successful(df, 'USA')
top_athletes

## Athleteswise Analysis

In [ ]:
import plotly.figure_factory as ff  # Importing Plotly's figure factory for creating advanced visualizations

In [ ]:
# Visualizing the Age Distribution of Unique Athletes

# Remove duplicate athlete entries based on 'Name' and 'region' to get unique athletes  
athlete_df = df.drop_duplicates(subset=['Name', 'region'])

# Extract the 'Age' column for distribution analysis  
age_data = athlete_df['Age'].dropna()  # Drop missing age values  

# Create a distribution plot to visualize the age distribution of athletes  
fig = ff.create_distplot(
    [age_data],  
    ['Age Distribution'],  
    show_hist=False,  # Hides histogram for a smoother density curve  
    show_rug=False  # Hides individual data points for better readability  
)

# Display the distribution plot  
fig.show()

In [ ]:
# fig = ff.create_distplot([athlete_df['Age'].dropna()],['Age Distribution'], show_hist=False, show_rug=False)
# fig.show()

### Age Distribution of Athletes and Medalists

In [ ]:
# Age Distribution of Athletes and Medalists

# Extract age data while dropping NaN values  
x1 = athlete_df['Age'].dropna()  # All athletes' ages  
x2 = athlete_df[athlete_df['Medal'] == 'Gold']['Age'].dropna()  # Gold medalists' ages  
x3 = athlete_df[athlete_df['Medal'] == 'Silver']['Age'].dropna()  # Silver medalists' ages  
x4 = athlete_df[athlete_df['Medal'] == 'Bronze']['Age'].dropna()  # Bronze medalists' ages  

# Create a distribution plot to visualize the age distribution of all athletes and medalists  
fig = ff.create_distplot(
    [x1, x2, x3, x4],  
    ['Overall Age', 'Gold Medalist', 'Silver Medalist', 'Bronze Medalist'],  
    show_hist=False,  # Hides the histogram for a smoother curve  
    show_rug=False  # Hides individual data points for clarity  
)  

# Display the distribution plot  
fig.show()

### Analyzing the Participation of Male and Female Athletes Over the Years

In [ ]:
# Count the number of male & female athletes per year  
men = athlete_df[athlete_df['Sex'] == 'M'].groupby('Year').count()['Name'].reset_index()
women = athlete_df[athlete_df['Sex'] == 'F'].groupby('Year').count()['Name'].reset_index()

# Merge the male and female data on the 'Year' column using a left join and after rename column for better clarity
final = men.merge(women, on='Year', how='left')  
final.rename(columns={'Name_x': 'Male', 'Name_y': 'Female'}, inplace=True)

# Fill missing values (if any) with 0 to avoid errors  
final.fillna(0, inplace=True)

# Create a line plot to visualize the participation trend of male and female athletes  
fig = px.line(final, x="Year", y=['Male', 'Female'], title="Male vs Female Athlete Participation Over the Years")
fig.show()